.Recents {
    display: flex;
    flex-direction: column;
    margin: auto 12%;
    margin-top: 1%;
    height: 650px;

}

.noaddedrecent {
    height: 21px;
    width: 167px;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 21px;
    text-align: center
}

.recent-container {

    justify-content: space-between;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    margin-top: 1%;
    height: 73px;
    padding: 2%;
}

.no-recent {
    margin-top: 20%;
    margin-left: 45%;
}

.recent-count {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    padding: 2%;
}

.recent-count-text {

    height: 15px;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 15px;
}

.recent-loc {
    height: 19px;
    width: 150px;
    color: #FFE539;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 19px;
}

.recent-loc-details {
    display: flex;
    align-items: center;
    
    height: 38px;
    width: 400px;
}

.recent-temp {
    display: flex;
    align-items: center;
    height: 38px;
        margin-left: 10%;

}

.recent-temp-desc {
    height: 21px;
        text-align: center;
        margin-right: 5%;
        margin-left: 10%;
        color: #FFFFFF;
        font-family: Roboto;
        font-size: 18px;
        letter-spacing: 0;
        line-height: 21px;
}

.recent-temp-num {
    height: 38px;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 38px;
}

.recent-temp-c-f {
    display: flex;
    height: 24px;
    width: 17px;
    margin-left: 3%;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 19px;
}

.recent-count button {
    color: #FFFFFF;
    border: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
}