@import "../../common/colors.scss";

.header{
    height: 80px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 4%;
    padding: 0px 40px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.user-image{
    background-color: $font-primary;
}
.search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    height: 45px;
    width: 458px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    padding: 1%;  
        
}
.icon-search-white {
    height: 24px;
    width: 24px;
}
.search-city {
    height: auto;
    width: auto;
    border: none;
    outline: none; 
    z-index: 1;
    
}
.searchinput{
    width: 300px;
    height: 30px;
    background-color: inherit;
    border: none;
    outline: none;
    font-family: Roboto;
    font-size: 20px;
    letter-spacing: 0;
    color: #FFFFFF;
    line-height: 19px;
}
::placeholder {
    color: #FFFFFF;
    opacity: 0.4;
    
    /* Firefox */
}