@import "../src/common/colors.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans',sans-serif;
}
a{
    text-decoration: none;
}

body{
margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.container{
    margin: 0px 40px;
}
.App{
    display: flex;
    flex-direction: column;
    background-image: url("../public/images/background.png");
    background-repeat: no-repeat;
    height: 969px;
    background-size: cover;
}
